<div th:replace="fragments/headeradm.html"></div>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a th:href="@{/admin/room}">Room</a></li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Edit Room</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Type here...">
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Room</h3>
    </div>
    <div class="panel-body">

      <form method="post" th:action="@{/admin/room/editted}" th:object="${room}" class="form-horizontal" role="form" enctype="multipart/form-data">

        <!-- form-group // -->
        <input type="number" type = "hidden" th:field="*{id}" >
        <div class="form-group">
          <div class="row">
            <div class="col-6 w-40">
              <label for="name" class="col-sm-3 control-label">Room Name</label>

              <input type="text" class="form-control" name="name" required="required"  th:field="*{roomName}" id="name" placeholder="Input name here">
            </div>
            <div class="col-6 float-end w-40">
              <label class="col-sm-3 control-label">Status</label>
              <input type="radio" th:field="*{isStatus}" th:value="${true}" th:text="${'Con trong'}">
              <input type="radio" th:field="*{isStatus}" th:value="${false}" th:text="${'Khong kha dung'}">
            </div>
          </div>
        </div> <!-- form-group // -->
        <div class="form-group">
          <div class="row">
            <div class="col-6 w-40">
              <label for="type" class="col-sm-3 control-label">Room Type</label>

              <input type="text" class="form-control" name="name" required="required" th:field="*{roomType}" id="type" placeholder="Input quantity here">
            </div>
            <div class="col-6 w-40">
              <label for="price" class="col-sm-3 control-label">Room Price</label>

              <input type="text" class="form-control" name="name" required="required" id="price" th:field="*{roomPrice}" placeholder="Input price here">
            </div>
          </div>

        </div> <!-- form-group // -->
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="col-sm-3 control-label">Description</label>

              <textarea class="form-control" required="required" th:field="*{roomDescription}" ></textarea>
            </div>
            <div class="col-6 w-40">
              <label for="size" class="col-sm-3 control-label">Room Type</label>

              <input type="number" class="form-control" name="name" required="required" th:field="*{roomSize}" id="size" placeholder="Input quantity here">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label for="name" class="col-md-6 control-label">Room Image</label>

              <label class="col-md-6 control-label" for="image">(Jpg/Jpeg/Png)</label> <input type="file" id="image" name="fileimage" required="required">
            </div>
          </div>
        </div>
        <!--                <div class="form-group">-->
        <!--                    <label for="name" class="col-sm-3 control-label">Room Status</label>-->
        <!--                    <div class="col-sm-3">-->
        <!--                        <label class="radio-inline">-->
        <!--                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" th:value="${1}" th:field="*{status}"> Available-->
        <!--                        </label>-->
        <!--                        <label class="radio-inline">-->
        <!--                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" th:value="${0}" th:field="*{status}"> Unavailable-->
        <!--                        </label>-->
        <!--                    </div>-->
        <!--                </div>&lt;!&ndash; form-group // &ndash;&gt;-->
        <hr>
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div> <!-- form-group // -->
      </form>

    </div><!-- panel-body // -->
  </section><!-- panel// -->
</main>
<!--<div th:replace="fragments/footeradm.html">-->

<!--</div>-->